<h1>new</h1>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>new zoo</title>
</head>
<body>
  <form action="/zoos" method="POST">
  <div>
    <label for="name">name:</label>
    <input autofocus  type="text" name="name" id="name">
  </div>
  <div>
    <label for="location">location:</label>
    <input type="text" name="location" id="location">
  </div>
  <div>
    <input type="submit" value="Add!">
  </div>
  </form>
</body>
</html>