<h1>new</h1>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/zoos/<%= zoo.id%>/animals" method="POST">
  <div>
    <label for="name">Name:</label>
    <input autofocus  type="text" name="name" id="name">
  </div>
  <div>
    <input type="submit" value="Add!">
  </div>
  </form>
</body>
</html>